@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
button {
  margin-top: 20px;
  padding: 0 25px;
  line-height: 40px;
  cursor: pointer;
  border-radius: 20%;
  border: none;
}
.btn {
  display: inline-block;
  padding: 5px 25px;
  border: 1px solid black;
  font-weight: 400;
  border-radius: 10px;
}
.btn-primary {
  background-color: #3882f6;
  color: white;
  border-color: #3882f6;
}

/*! header start */

.global-notification {
  background-color: #1f2937;
  padding: 14px 0;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left .logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 500;
  display: flex;
}
.header-right .menu-list {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.menu-list .menu-list-item .menu-link {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}
.header-row {
  padding: 80px 0;
  display: flex;
  column-gap: 100px;
}
.header-row .header-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: extra-bold;
}
.header-row .header-subtitle {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}
.header-row .image {
  width: 600px;
}
/*! header end */
/*! category start */
.categories {
  margin: 50px 0;
}
.section-title {
  text-align: center;
}
.section-title h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: extra-bold;
}
.categories .category-list {
  display: flex;
  margin-top: 30px;
  padding: 0 50px;
  column-gap: 10px;
}
.category-item {
  background-color: white;
  flex-direction: column;
}
.category-item .category-image {
  width: 100%;
  border: 3px solid #3882f6;
  border-radius: 10px;
}
.category-item .category-definition {
  color: #1f2937;
}
/*! category end */
/*! blog start */
.blog {
  background-color: #e5e7eb;
  margin: 40px 0;
  padding: 70px 35px;
}
.blog .blog-item {
  justify-items: center;
  position: relative;
}
.blog-item .blog-info {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}
.blog-item span {
  font-weight: 600;
  font-size: large;
  position: absolute;
  right: 50px;
}
/*! blog end */
/*! brand start */
.brand-wrapper {
  background-color: #3882f6;
  margin-bottom: 20px;
  display: flex;
  padding: 40px 30px;
  align-items: center;
  justify-content: space-between;
}
.brand-item {
  color: #f9faf8;
}
.brand-wrapper a {
  border: 1px solid #f9faf8;
  border-radius: 10px;
}
/*! brand end */
/*! footer start */
.footer {
  background-color: #1f2937;
  padding: 40px 40px;
}
.text-footer {
  text-align: center;
  color: #f9faf8;
}
/*! footer end */
